<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Hospital Linda Luz">
        <mat-icon>local_hospital</mat-icon>
    </button>
    <span>Hospital Linda Luz</span>
    <span class="spacer"></span>
    <button mat-button (click)="redirectTo('doctors')">Doctores</button>
    <button mat-button (click)="redirectTo('patients')">Pacientes</button>
    <button mat-button (click)="redirectTo('user-edit')">Editar credenciales</button>
    <button mat-button (click)="sesionClose()"><strong>Cerrar sesión</strong></button>
</mat-toolbar>
<router-outlet />