.auth-container {
    width: 50%;
    min-width: 250px;
    margin: 50px auto; 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

button {
    align-self: flex-end;
}