<div class="container">
    <mat-toolbar color="primary" class="header">
      <span>Doctores</span>
      <button mat-icon-button (click)="addDoctor()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort matTableResponsive>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>
  
        <ng-container matColumnDef="specialty">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </th>
          <td mat-cell *matCellDef="let element"> {{ element.specialty }} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="showPatientsAssigment(element)">
              <mat-icon>assignment</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="editDoctor(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteDoctor(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  